h1{
    /*background-color: RGB(0,70,90);*/
    color:rgba(6, 5, 6, 0.533);
    Line-height:1.6em;
    font-family:Raleway;
    font-size: bold;
    font-weight:bold;

}
.snow-leopard{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    transition: hover 1s;
    cursor: pointer;
    
}
.snow-leopard:hover{
    color:#77ba35;
}
a{
    text-decoration: none;
    color: rgb(33, 21, 21);
}
a:hover{
    color:red;
}
a:active{
    color:green;
}
a:visited{
    color: rgb(25, 113, 212);
}
.subscribe-button{
    background-color: rgb(216, 63, 63);
    color:white;
    border-color: rgb(216, 63, 63);
    border-radius:10px;
    cursor: pointer;
    border-style:solid;
    transition: opacity 0.15s;
    }
    .subscribe-button:hover{
        opacity: 0.7;
    }
    .subscribe-button:active{
        opacity: 0.5;
        
    }
    
.join-button{
    border-color:rgb(25, 113, 212);
    background-color: white;
    color:rgb(25, 113, 212);
    cursor: pointer;
    border-style:solid;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1px;
    font-size:10px;
    padding-right: 10px;
    padding-left:10px;
    transition: background-color 1s,
    color 1s;


}

.join-button:hover{
    background-color: rgb(25, 113, 212);
    color:white;
}
.join-button:active{
    opacity:0.6;
}
.tweet-button{
    color:white;
    background-color:rgb(55, 135, 226);
    border-color:rgb(55, 135, 226);
    border-style:solid;
    border-radius:40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-right:10px;
    padding-left:10px;
    cursor: pointer;


}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.box-1{

    margin: auto;
    padding: 3%;
    background-color:rgb(246, 248, 244);
    border: width 5px;
    border-bottom-width: 50px;
    border-top-style: dotted;

    border-left: 15px rgb(93, 159, 224) solid;
    border-top: 15px rgb(93, 159, 224) solid;
    border-bottom:15px rgb(93, 159, 224) solid;
    border-right: 15px rgb(93, 159, 224) solid;
}
.box-2{
    margin: 5%;
    padding:3%;
    background-color:rgb(237, 239, 235);
    border-bottom-width: 50px;
    border-top-style: dotted;

    border-left: 15px rgb(93, 159, 224) solid;
    border-top: 15px rgb(93, 159, 224) solid;
    border-bottom:15px rgb(93, 159, 224) solid;
    border-right: 15px rgb(93, 159, 224) solid;
}
.box-3{
    width: 80%;
    margin: 5%;
    padding:3%;
    background-color:rgb(237, 239, 235);
    border: width 5px;
    border-bottom-width: 50px;
    border-top-style: dotted;

    border-left: 15px rgb(93, 159, 224) solid;
    border-top: 15px rgb(93, 159, 224) solid;
    border-bottom:15px rgb(93, 159, 224) solid;
    border-right: 15px rgb(93, 159, 224) solid;
}


.categories{
    border:5px #77ba35 solid ;
    padding: 5px;
    border-radius: 5px;
}

.categories h2{
    text-align: center;
}
.categories ul{
    padding: 0;
    list-style: none;

}
.box-2
{
    text-align: 20px;    
}

.sop{
    border: 5px greenyellow solid;
    color:black;
    border-radius: 5px;
    width: 150px;
    transition: background-color 1s,
    border-color 1s,
    color 1s;
    cursor:pointer;
    
}
.sop:hover{
    color:red;
    background-color: lightblue;
    border-color:lightblue;
}
